
<div id="container">
    <h2> < Bantz Chatroom > </h2>
    <p><a routerLink="/account"> {{username}}</a></p>
    <h4>Previous Messages</h4>
    
    <div id="messageContainer"> 
    <ul>
        <li id="message" *ngFor="let m of messageArray">{{m.msg}} </li>
        <li id="message" *ngFor="let m of messages">{{m}} </li>
    </ul>
    </div>
    
    <br>
    <form method="post" action="/api/chatroom">
        <div class="form-group">
            <label for="exampleInputPassword1">New Message</label>
            <input type="textarea" [(ngModel)]= "messagecontent" name="messagecontent" class="form-control"
                id="exampleInputPassword1" placeholder="type messsage">
            <button type="submit" (click)= "chat()"> Submit </button>
        </div>
        
    </form>
</div>

